dist/


bin
obj
lib
build
.deps
.libs
*.a
*.la
*.lo
*.o
*.so
*.desktop
*.swp
autom4te.cache
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
INSTALL
libtool
ltmain.sh
m4
missing
Makefile
Makefile.in
tags



.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
